/* @author Bilal Cinarli */

/** -------------------------------------------
 	Default Links Styles
    ------------------------------------------- **/
a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}