/* @author Bilal Cinarli */

/** -------------------------------------------
    Texts
    ------------------------------------------- **/
.note {
    font: {
        size: .8em;
        style: italic;
    }

    pre + & {
        margin-top: 0;
    }
}