/* @author Bilal Cinarli */

/** -------------------------------------------
 	Articles
    ------------------------------------------- **/
.article-content {
	margin-bottom: 2em;

	blockquote {
		position: relative;

		&:before {
			position: absolute;
            top: 0;
            left: -.35em;
            content: "“";
			font-size: 6em;
			line-height: 1;
			color: lighten($light-text, 20%);
		}
	}
}

.article-title {
	margin-top: 0;
	font-weight: bold;
}

.article-meta {
	margin: 0;

	.date {
		color: $light-text;
	}
}

.article-footer {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px dashed $light-text;
}

.update-info {
	color: $body-color;
	font-weight: bold;

	+ blockquote {
		margin: .5em 0 1em;
		padding: 0 .8em;
		border: 1px dashed $light-text;
		background: $stripe-color;
		font: {
			size: .9em;
			style: italic;
		}
	}
}

.lightbox {
	ul {
		@extend .group;
		margin-left: -10%;
		list-style: none;
	}

	li {
		@include dims(50%, 200px);
		position: relative;
		float: left;
		overflow: hidden;
		padding-left: 10%;

		@media screen and (min-width: 960px) {
			width: 33%;
		}
	}
}