/* @author Bilal Cinarli */

/** -------------------------------------------
 	Font Files
    ------------------------------------------- **/
@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/arsenal-italic-webfont.eot');
	src: url('../fonts/arsenal-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/arsenal-italic-webfont.woff') format('woff'),
	url('../fonts/arsenal-italic-webfont.ttf') format('truetype'),
	url('../fonts/arsenal-italic-webfont.svg#arsenalitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/arsenal-regular-webfont.eot');
	src: url('../fonts/arsenal-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/arsenal-regular-webfont.woff') format('woff'),
	url('../fonts/arsenal-regular-webfont.ttf') format('truetype'),
	url('../fonts/arsenal-regular-webfont.svg#arsenalregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/arsenal-bold-webfont.eot');
	src: url('../fonts/arsenal-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/arsenal-bold-webfont.woff') format('woff'),
	url('../fonts/arsenal-bold-webfont.ttf') format('truetype'),
	url('../fonts/arsenal-bold-webfont.svg#arsenalbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/arsenal-bolditalic-webfont.eot');
	src: url('../fonts/arsenal-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/arsenal-bolditalic-webfont.woff') format('woff'),
	url('../fonts/arsenal-bolditalic-webfont.ttf') format('truetype'),
	url('../fonts/arsenal-bolditalic-webfont.svg#arsenalbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;

}