/* @author Bilal Cinarli */

/** -------------------------------------------
 	Reset or redefine somethings :)
    ------------------------------------------- **/
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.group {
	*zoom: 1;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

nav {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
	}
}

.reset {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	list-style: none;
}

a { cursor: pointer; }

.screen-readers-only{
	@include dims(1px);
	position:absolute;
	overflow:hidden;
	margin:-1px;
	padding:0;
	border:0;
	clip:rect(0 0 0 0);
}

.hide { display: none; }