/* @author Bilal Cinarli */

/** -------------------------------------------
 	Coding sample styles
    ------------------------------------------- **/
$langs: css, sass, less, stylus, javascript, php, coffeescript, sql;

%lang {
    position: absolute;
    top: -.6em;
    right: -.6em;
    padding: .3em .5em;
    background: #666;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
}

code {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f8f8f8;

    font: {
        family: Consolas, Monaco, "Lucida Console", monospace;
        size: .8em;
    }
    line-height: 1;

    pre[class*="language-"] & {
        position: relative;
        display: block;
        border: 0;
        line-height: 1.4;

        @each $i in $langs {
            &.#{$i}:after {
                @extend %lang;
                content: "#{$i}";
            }
        }
    }
}

pre[class*="language-"] {
    padding: .5em;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f8f8f8;
}