/* @author Bilal Cinarli */

/** -------------------------------------------
 	Coding sample styles
    ------------------------------------------- **/
$langs: css, sass, scss, less, stylus, javascript, php, coffeescript, sql;

%lang {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    background: #666;
    @include font-size(14px);
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-transform: capitalize;
    text-shadow: none;
}

code {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f8f8f8;

    font: {
        family: Consolas, Monaco, "Lucida Console", monospace;
        size: .8em;
    }
    line-height: 1;

    pre & {
        display: block;
        border: 0;
    }
}

pre[class*="language-"] {
    position: relative;
    padding: .5em;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f8f8f8;

    @each $i in $langs {
        &.#{$i}:after {
            @extend %lang;
            content: "#{$i}";
        }
    }
}