/* @author Bilal Cinarli */

/** -------------------------------------------
 	Headings
    ------------------------------------------- **/
h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: 0;
	line-height: 1.2;
    font-family: $font-family-roboto;
	font-weight: bold;

	&:first-child {
		margin-top: 0;
	}

	+ p {
		margin-top: .3em;
	}
}

.sub-text {
    margin-left: 2*$base-gutter;

    + ul {
        list-style: none;
        margin-left: 2 * $base-gutter;
    }
}