/* @author Bilal Cinarli */

/** -------------------------------------------
 	Rule
    ------------------------------------------- **/
hr {
	border: dashed $color-light-text;
	border-width: 0 0 1px;

	.footnotes & {
		border-style: solid;
	}
}