/* @author Bilal Cinarli */

/** -------------------------------------------
 
    ------------------------------------------- **/
$body-color: #333;
$light-text: #aaa;

$title-color: #1d5486;

$link-color: #1d5486;
$link-hover-color: #222;

$base-footer-color: #d9d9d9;
$footer-link-color: #e9e9e9;

$stripe-color: #f0f0f0;