/* @author Bilal Cinarli */

/** -------------------------------------------
 	Component Heights
    ------------------------------------------- **/
$gutter: 5%;

$base-font-height: 16px;
$base-line-height: 1.5;

$footer-height: 65px;