/*!
 * HTML Magazine Theme
 * @author Bilal Cinarli
 * Hand Coded with love
 */
/* variables ==> */
:root {
    --background-color: #222;
    --background-color-alt: #333;
    --text-color: #e5e5e5;
    --link-color: #89ddff;
    --image-invert-value: 0%;
}
/* <== variables */
/* theme switch ==> */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --background-color-alt: #e5e5e5;
        --text-color: #1b1b1b;
        --link-color: #f78c6c;
        --image-invert-value: 100%;
    }
}
/* <== theme switch */
/* theme font ==> */
@font-face {
    font-family: "htmlmag";
    src: url("../fonts/htmlmag.woff?caffeine") format("woff"), url("../fonts/htmlmag.ttf?caffeine") format("truetype");
    font-weight: normal;
    font-style: normal
}
/* <== theme font */

/* reset most of the thing ==> */
*:where(:not(iframe, canvas, img, svg, video, div, header, footer, aside, nav):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}
/* <== reset most of the thing */
/* add some meaningful defaults ==> */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* <== add some meaningful defaults */
/** general page skeleton ==> **/
html, body {
    font: 22px/1.4 'Titillium Web', sans-serif;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    min-height: 100vh;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-header {
    padding: 2rem 0;
}

.page-content {
    flex-grow: 1;
}

.content-container {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}
/** <== general page skeleton **/
/** text styles ==> **/
h1, h2, h3, h4, h5, h6, blockquote {
    font-family: 'Tinos', serif;
}

a {
    cursor: pointer;
    color: var(--link-color);
}

p , ul, ol, blockquote + h2, blockquote + h3 {
    margin-top: 1.5rem;
}

p:only-child , ul:only-child, ol:only-child {
    margin-top: 0;
}

p a,
sup a {
    padding: 4px; /* enlarge click area for fingers */
}

blockquote {
    position: relative;
    border-left: 8px solid;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
    background-color: var(--background-color-alt);
    font-style: italic;
    font-size: 1.25rem;
}

blockquote:before {
    content: "\201C";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 4rem;
    line-height: 1;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child:not(:only-child) {
    font-weight: bold;
}

pre[class*=language-] {
    margin: 1.5rem 0 0;
    font-size: 0.75rem;
}

code {
    padding: 0.2rem 0.5rem;
    background-color: var(--background-color-alt);
    font-family: monospace;
}

sup {
    position: relative;
    top: -0.25rem;
    font-style: normal;
    font-size: 0.75rem;
}
/** <== text styles **/
/** general components ==> **/
.page-heading {
    display: inline-flex;
    align-items: center;
    color: var(--text-color);
}

.page-heading:before {
    content: "";
    width: 131px;
    height: 92px;
    background: center left  no-repeat url('../../../public/assets/images/logo@2x.png');
    background-size: 131px 92px;
    filter: invert(var(--image-invert-value, 100%));
}

.page-headline {
    font-size: 1.5rem;
}

.page-footer {
    margin-top: 2rem;
    padding: 2rem 0;
    font-size: 0.75rem;
    background-color: var(--background-color-alt);
}
/** <== general components **/
/** homepage ==> **/
.summary {
    margin-top: 4rem;
}

.summary .article-header {
    text-align: center;
}

.summary .article-meta {
    margin-top: 1rem;
    font-size: 0.75rem;
}

.summary .article-date:after {
    content: '•';
    display: inline-block;
    margin: 0 0.25rem;
}

.summary .article-author {
    width: 100%;
    font-size: 0.9rem;
}

.summary .article-author .icon-author {
    font-size: 2rem;
    vertical-align: middle;
}
/** <== homepage **/
/** articles/pages ==> **/
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
    font-weight: bold;
}

.article-content a:hover {
    text-decoration: underline;
}

.article-content .article-meta {
    margin-top: 1rem;
}

.article-content .article-meta span {
    display: inline-block;
    margin-right: 1rem;
}

.article-title {
    font-size: 1.75rem;
    line-height: 1.25;
}

.article-content h2 {
    font-size: 1.5rem;
}

.article-content h3 {
    font-size: 1.25rem;
}

p + h2, p + h3, ul + h3 {
    margin-top: 1.5rem;
}

h2 + p, h3 + p, h3 + ul, h3 + ol, li p, .footnotes ol {
    margin-top: 0.25rem;
}
/** <== articles/pages **/
/** icons ==> **/
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'htmlmag';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-author:before {
    content: "\e600"
}
.icon-mail-contact:before {
    content: "\e60a"
}
.icon-mail:before {
    content: "\e60b"
}
.icon-label:before {
    content: "\e601"
}
.icon-question-answer:before {
    content: "\e602"
}
.icon-schedule:before {
    content: "\e603"
}
.icon-today:before,
.icon-date:before {
    content: "\e604"
}
.icon-comment:before {
    content: "\e605"
}
.icon-share:before {
    content: "\e606"
}
.icon-time:before {
    content: "\e607"
}
.icon-twitter:before {
    content: "\e608"
}
.icon-linkedin:before {
    content: "\e609"
}
/** <== icons **/
/** response ==> **/
@media screen and (max-width: 1039px) {
    .content-container {
        padding: 0 2rem;
    }

    .page-header {
        text-align: center;
    }

    .page-heading {
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1040px) {
    .page-header .content-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page-heading:before {
        margin-right: 2rem;
    }

    .blockquote {
        width: 50%;
        margin-left: 1rem;
        float: right;
    }
}
/** <== response**/
