/*!
 * HTML Magazine Theme
 * @author Bilal Cinarli
 * Hand Coded with love
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}