/* @author Bilal Cinarli */

/** -------------------------------------------
 	Set of helper mixins
    ------------------------------------------- **/
@mixin dims($width, $height: null) {
	width: $width;
	@if $height == null {
		height: $width;
	} @else {
		height: $height;
	}
}

@mixin retina-image($img){
	background-image: url("../images/#{$img}.png");

	@include hidpi(){
		background-image: url("../images/#{$img}@2x.png");
	}
}

@mixin arrow ($color, $size, $position: top){
	// defaults
	$el: "&:after";

	$border-side: border-bottom-color;
	$margin-side: margin-left;

	$arrow-size: nth($size, 1);
	$arrow-background-color: nth($color, 1);

	@if $position == right {
		$border-side: border-left-color;
		$margin-side: margin-top;
	}
	@else if $position == bottom {
		$border-side: border-top-color;
		$margin-side: margin-left;
	}
	@else if $position == left {
		$border-side: border-right-color;
		$margin-side: margin-top;
	}

	&:after,
	&:before {
		@include dims(0);
        position: absolute;
        bottom: 100%;
        left: 50%;
		content: "";
		border: solid transparent;
		pointer-events: none;
	}

	&:after {
		#{$margin-side}: -1 * $arrow-size;
		#{$border-side}: $arrow-background-color;
		border-width: $arrow-size;
	}

	@if length($size) == 2 {
		$arrow-border-color: nth($color, 2);
		$arrow-border-size: nth($size, 2);

		&:before {
			#{$margin-side}: -1 * ($arrow-size + $arrow-border-size);
			#{$border-side}: $arrow-border-color;
			border-width: ($arrow-size + $arrow-border-size);
		}
	}
}

@mixin linear-gradient($content...){
    background: -moz-linear-gradient($content); /* FF3.6+ */
    background: -webkit-linear-gradient($content); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient($content); /* Opera 11.10+ */
    background: -ms-linear-gradient($content); /* IE10+ */
    background: linear-gradient($content); /* W3C */
}