/* @author Bilal Cinarli */

/** -------------------------------------------
 	Articles
    ------------------------------------------- **/
.article-content {
	margin-bottom: 2em;
    word-break: break-word;

    > p:first-child {
        font-family: $font-family-roboto;
        @include font-size(20px);
    }

	blockquote {
		position: relative;
        margin: .5em 0 1em;
        padding: 1em 1.5em;
        border: 1px dashed $color-light-text;
        background: $color-light-gray;
        @include font-size(16px);
        font-style: italic;

        &:before,
        &:after {
            position: absolute;
            height: 19px;
            content: "\"";
            @include font-size(48px);
            line-height: 19px;
            color: lighten($color-light-text, 20%);
        }

		&:before {
            top: 15px;
            left: 0;
		}

        &:after {
            right: 5px;
            bottom: -10px;
        }
	}
}

.article-title {
	margin-top: 0;
    color: $color-primary;
}

.article-meta {
	@include font-size(14px);
    color: $color-dark-gray;

    .article-header & {
        margin: $base-gutter 0;
    }

    [class^="article-"] {
        display: inline-block;
        margin-right: $base-gutter;
    }

    i {
        @include font-size(20px);
        vertical-align: middle;
    }

    a {
        color: $color-dark-gray;
    }
}

.article-footer {
    position: relative;
	margin-top: 1em;
	padding: 1em 0;
	border: solid $color-gray;
    border-width: 1px 0;
}

.update-info {
	color: $color-text;
	font-weight: bold;

	+ blockquote {
        p:only-child {
            margin: 0;
        }
	}
}

.lightbox {
	ul {
		@extend .group;
		margin-left: -10%;
		list-style: none;
	}

	li {
		@include dims(50%, 200px);
		position: relative;
		float: left;
		overflow: hidden;
		padding-left: 10%;

		@media screen and (min-width: 960px) {
			width: 33%;
		}
	}
}