/* @author Bilal Cinarli */

/** -------------------------------------------
    Events
    ------------------------------------------- **/
.event {
    text-align: center;

    section {
        padding: 2*$base-gutter;
    }

    &-page-container,
    &-spot-content {
        position: relative;
        max-width: $base-max-width;
        min-height: 100%;
        margin: 0 auto;
    }

    &-page-header {
        position: relative;
        height: 120px;
        background-color: $color-tertiary;
    }

    &-nav {
        width: 100%;
        @media screen and (min-width: 480px){
            @include center-vertical();
            @include font-size(20px);
        }

        a {
            display: inline-block;
            font-weight: bold;
            color: #fff;

            @media screen and (min-width: 480px) {
                @include dims(19%, 93px);
                line-height: 93px;
            }

            &.link-to-htmlmag {
                @include dims(131px, 93px);
                background: center no-repeat;
                background-size: 131px 93px;
                @include retina-image('logo-white');
                text-indent: -9999px;

                @media screen and (min-width: 480px){
                    margin: 0 calc(10% - 65px);
                }
            }
        }

        @media screen and (max-width: 479px) {
            a {
                display: block;
                margin: 0 $base-gutter 0 150px;
                text-align: end;
                @include font-size(16px);
            }

            a.link-to-htmlmag {
                position: absolute;
                top: 10px;
                left: $base-gutter;
                margin: 0;
                text-align: left;
            }
        }
    }

    &-spot {
        background: center no-repeat;
        background-size: cover;
        @include font-size(24px);
        color: #fff;

        @media screen and (min-width: 768px) {
            height: 600px;
        }

        .event-separate {
            position: relative;
            display: inline-block;

            &:before,
            &:after {
                @include center-vertical();
                @include dims(80px, 1px);
                background: #fff;
                content: "";
            }

            &:before {
                left: -90px;
            }

            &:after {
                right: -90px;
            }
        }

        .event-date {
            display: block;
            margin: auto;
            @include font-size(34px);
            font-weight: bold;
        }

        img {
            display: block;
            margin: 10px auto 2*$base-gutter;
        }

        .register-now {
            color: #fff;
        }
    }

    &-description {
        max-width: 800px;
        margin: 0 auto;
    }

    &-section-title {
        margin-bottom: 2*$base-gutter;
    }

    .register-now {
        display: inline-block;
        padding: $base-gutter;
        border: 1px solid;
        font-weight: bold;
    }

    &-speakers {
        background-color: #36577c;
        color: #fff;
    }

    &-program {
        background-color: #2c6745;
        color: #fff;
    }

    .sharing {
        padding-top: 20px;

        .fb_iframe_widget {
            margin: 0 10px;
            vertical-align: top;
        }
    }
}

#front-end-architecture {
    .event-spot {
        background-image: url("../images/web-mobil-arayuz-mimarisi.jpg");

        &-title {
            @include dims(240px, 128px);
            margin: 10px auto;
            background: url("../images/front-end-workshop-badge.png") center no-repeat;
            background-size: 100%;
            text-indent: -9999px;

            @media screen and (min-width: 480px) {
                @include dims(394px, 211px);
            }
        }
    }
}

#the-frontiers-mini {
    .event-spot {
        background-color: $color-secondary;

        &-title {
            @include dims(240px, 128px);
            margin: 10px auto;
            background: url("../images/frontiers-mini.png") center no-repeat;
            background-size: 100%;
            text-indent: -9999px;

            @media screen and (min-width: 480px) {
                @include dims(394px, 211px);
            }
        }
    }

    .event-page-header {
        background-color: $color-secondary;
    }

    .event-program {
        background: none;
        color:#000;  

        li {
            border-bottom: 1px solid #ccc;
            line-height: 55px;
            margin-bottom: 0px;
            padding:0px 10px;

            span {
                color:#7a7a7a;
            }
        }

        .break {
            text-align: center;
            background: #f7f7f7;
        }
    }
}