/* @author Bilal Cinarli */

/** -------------------------------------------
 	Footnotes
    ------------------------------------------- **/
.footnotes {
	font-size: .8em;

	ol {
		padding-left: 25px;
	}

	p {
		margin: 0 0 .5em;
	}
}