/* @author Bilal Cinarli */

/** -------------------------------------------
    Main Navigation
    ------------------------------------------- **/
.main-nav {
    @include center-vertical();
    left: 165px;

    @media screen and (min-width: 321px) {
        left: 200px;
    }

    &-item {
        padding: 10px;
        margin-right: $base-gutter;
        border-radius: 4px;
        @include font-size(18px);
        font-weight: bold;
        color: #fff;

        &:hover {
            background-color: darken($color-primary, 15%);
            color: #fff;
            text-decoration: none;
        }
    }
    
    .description {
        display: block;
        @include font-size(14px);
        font-weight: normal;
    }
}