/* @author Bilal Cinarli */

/** -------------------------------------------
    Main Navigation
    ------------------------------------------- **/
.main-nav {
    @include center-vertical();
    left: 200px;

    &-item {
        margin-right: 2*$base-gutter;
        @include font-size(18px);
        font-weight: bold;
        color: #fff;
    }
    
    .description {
        display: block;
        @include font-size(14px);
        font-weight: normal;
    }
}