/* @author Bilal Cinarli */

/** -------------------------------------------
    Program
    ------------------------------------------- **/
.event-program {
    @media screen and (max-width: 479px) {
        @include font-size(16px);
    }

    ul {
        margin: $base-gutter auto;
        @media screen and (min-width: 480px) {
            margin-top: 50px;
        }

        list-style-type: none;
        text-transform: uppercase;
        letter-spacing: 1px;

        #the-frontiers-mini & {
            max-width: 960px;
            text-align: left;
            text-transform: none;
            border:1px solid #ccc;
        }

    }

    li {
        margin-bottom: $base-gutter;
    }
}