/* @author Bilal Cinarli */

/** -------------------------------------------
    Program
    ------------------------------------------- **/
.event-program {
    ul {
        margin: 75px auto;
        list-style-type: none;
        @include font-size(20px);
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}