/* @author Bilal Cinarli */

/** -------------------------------------------
    Program
    ------------------------------------------- **/
.event-program {

    ul {
        margin:          75px auto;
        list-style-type: none;
        font-size:       20px;
        font-family:     "Roboto Slab", Georgia, serif;
        line-height:     50px;
        text-transform:  uppercase;
        letter-spacing:  1px;
    }
}