/* @author Bilal Cinarli */

/** -------------------------------------------
    Registration
    ------------------------------------------- **/
.event-registration {
    color:          #2c6745;

    p {
    	font-size: 	24px;
    	margin: 	10px 0 0 0;
    }

    a{
    	padding: 	30px;
    	margin:     50px 0;
    	border: 	1px solid #2c6745;
    	color:      #2c6745;
    	font-size:  24px;
    }
    img{
    	display: 	block;
    	margin:     0 auto;
    }
}