/* @author Bilal Cinarli */

/** -------------------------------------------
    Speakers
    ------------------------------------------- **/
.speaker {
    display: inline-block;
    margin-bottom: $base-gutter;

    @media screen and (min-width: 480px) {
        margin: 0 2*$base-gutter;
    }

    &-photo {
        display: inline-block;
        @include dims(160px);
        @media screen and (min-width: 480px) {
            @include dims(250px);
        }
        border-radius: 50%;
    }

    &-name {

    }

    &-title,
    &-company,
    &-links {
        display: block;
    }

    &-links {
        padding-top: $base-gutter/2;
        @include font-size(20px);

        a {
            display: inline-block;
            margin: 0 5px;
        }
    }

    a {
        color: #fff;
    }
}