/* @author Bilal Cinarli */

/** -------------------------------------------
    Sponsor
    ------------------------------------------- **/
.event-sponsors {
    h2 {
        color: #2c6745;
    }
}

.sponsor-logo,
.company-logo {
    margin-bottom: 2*$base-gutter;
    vertical-align: middle;

    img {
        display: block;
        max-height: 60px;
    }
}

.inline-logo {
    margin-right: $base-gutter;
    margin-left: $base-gutter;
}

.taze-logo,
.bau-logo {
    img {
        max-height: 80px;
    }
}

.mobilistanbul-logo {
    img {
        max-height: 100px;
    }
}