/* @author Bilal Cinarli */

/** -------------------------------------------
    Sponsor
    ------------------------------------------- **/
.event-sponsors {
    h2 {
        color:          #2c6745;
    }
    img{
        max-width:      300px;
        margin:         0 15px;
    }
}