/* @author Bilal Cinarli */

/** -------------------------------------------
    Header
    ------------------------------------------- **/
.page-header {
    height: 150px;
    background-color: $base-primary-color;
}

.page-heading {
    @include center-vertical();
    @include dims(131px, 91px);
    background: center no-repeat;
    background-size: 100%;
    @include retina-image('logo');
    text-indent: -9999px;
}