/* @author Bilal Cinarli */

/** -------------------------------------------
    Skeleton
    ------------------------------------------- **/
.page-wrap {
    position: relative;
    width: 100%;
}

.page-container,
.page-content {
    position: relative;
    max-width: $base-max-width;
    min-height: 100%;
    margin: auto;
}