/* @author Bilal Cinarli */

/** -------------------------------------------
    Skeleton
    ------------------------------------------- **/
.page-wrap {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0 auto (-$footer-height-mobile);

    @media screen and (min-width: 720px) {
        margin-bottom: -$footer-height;
    }
}

.page-container,
.page-content {
    position: relative;
    max-width: $base-max-width;
    min-height: 100%;
    margin: auto;
}

#push {
    clear: both;
    height: $footer-height-mobile;

    @media screen and (min-width: 720px) {
        height: $footer-height;
    }
}