/* @author Bilal Cinarli */

/** -------------------------------------------
    Skeleton
    ------------------------------------------- **/
.page-wrap {
    position: relative;
    width: 100%;
}

.page-container {
    position: relative;
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
}