/* @author Bilal Cinarli */

/** -------------------------------------------
 	Site Contents
    ------------------------------------------- **/
.page-content {
	padding: 1.5em 0;
}

.main-content {
	width: 100%;
	padding: 0 $gutter;

	@media screen and (min-width: 960px) {
		float: left;
		width: 60%;
		padding: 0;
	}
}

.suplementary {
	font-size: .9em;
	padding: 0 5%;

	@media screen and (min-width: 960px) {
		float: right;
		width: 40%;
		padding: 0 0 0 10%;
	}
}