/* @author Bilal Cinarli */

/** -------------------------------------------
 	Header components styles
    ------------------------------------------- **/
.page-header {
	position: relative;
	height: 100px;

	@media screen and (min-width: 600px) {
		height: 150px;
	}
}

.page-heading {
    position: absolute;
    top: 4*$gutter;
    left: $gutter;
	height: 48px;
	margin: 0;
	padding-left: 60px;
	background: url("../images/logo@2x.png") center left no-repeat;
	background-size: auto 100%;
	line-height: 48px;
	letter-spacing: -1px;

	@media screen and (min-width: 960px){
		left: 0px;
	}

	@media screen and (min-width: 600px) {
		top: 50px;
		height: 93px;
		padding-left: 120px;
		font: {
			size: 3em;
			weight: bold;
		}
		line-height: 93px;
	}
}

.main-nav {
    position: absolute;
    right: $gutter;
    bottom: -$gutter;

	font: {
		weight: bold;
	}

	a {
		display: inline-block;
		margin-left: 15px;
		color: $link-color;

		&:hover {
			color: $link-hover-color;
		}
	}

	@media screen and (min-width: 960px){
		top: 50%;
		right: 0;
		bottom: auto;
	}
}